.idea
/bitrix
/upload
*.log
*.sql
*.xml
/*.png
/*.svg
/*.csv
.htaccess
/robots.txt
/test/
/yandex*
/google*
index.html
styleguide.html

local/config/
local/templates/front/frontend/dist
local/templates/front/frontend/node_modules
local/templates/front/frontend/yarn.lock
local/templates/front/frontend/package-lock.json

bitrix.zip
dump.zip
upload.zip