// Colors
$black: #0E0E0E;
$white: #EFEEEC;
$gray: #A7A7A5;
$gray-secondary: #737373;
$dark-white: #DAD9D6;
$black-secondary: #1A1A1A;
$green: #07AF0C;

// Media
$desktop: 1600px;
$tablet: 1280px;
$mobile: 767px;

$tablet-new: 1279px;
$mobile-new: 639px;

// Fonts
$fontname: "Futura", sans-serif;
$fontSecondary: "Inter", sans-serif;

// Transition
$transition: all 0.3s ease-in-out;
