<section id="attract" class="section-new attract">
    <div class="attract__container container-new">
        <div class="attract__header">
            <h2 class="attract__title">
                Привлекайте целевых<br/>
                клиентов из поиска!
            </h2>

            <p class="attract__subtitle">
                Яндекс, Google и AI-ассистентов
                (ChatGPT, Gemini, Поиск Нейро в Яндекс и др.)
            </p>
        </div>

        <div class="attract__main"></div>
    </div>
</section>
