<section id="cases-slider" class="section-new">
    <div class="container-new">
        <div class="section-new__header">
            <h2 class="section-new__title">Кейсы</h2>
            <p class="section-new__descr">
                Выстраиваю долгосрочные доверительные отношения<br/>
                с клиентами, срок сотрудничества более 2-х лет
            </p>
        </div>
        <div class="section-new__body">
            <div class="case-slider">
                <div class="swiper" data-case-slider>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="case-tile">
                                <div class="case-tile__main">
                                    <div class="case-tile__title">
                                        <span class="case-tile__badge">№1</span>
                                        Привлечение покупателей для ресейл — платформы брендов класса LUX.
                                    </div>

                                    <div class="case-tile__panel">
                                        <div class="case-tile__crumbs">
                                            <span class="case-tile__crumbs-item">SEO</span>
                                            <span class="case-tile__crumbs-item">SMM</span>
                                            <span class="case-tile__crumbs-item">Контекстная реклама</span>
                                        </div>

                                        <a class="case-tile__link" href="#">
                                            Посмотреть результат
                                        </a>
                                    </div>


                                    <div class="case-tile__target">
                                        <div class="case-tile__target-item">
                                            <div class="case-tile__subtitle">CLF (Customer Lifecycle):</div>
                                            <div class="case-tile__descr">2,5 года</div>
                                        </div>

                                        <div class="case-tile__target-item">
                                            <div class="case-tile__subtitle">Цель:</div>
                                            <div class="case-tile__descr">
                                                Увеличение количества покупок, посетителей,
                                                глубины и времени, проведенном на сайте.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="case-tile__cols">
                                    <div class="case-tile__col">
                                        <div class="case-tile__col-descr">Рост покупок вырос на 600%</div>
                                        <div class="case-tile__bar case-tile__bar--4">
                                            <span>600%</span>
                                        </div>
                                    </div>
                                    <div class="case-tile__col">
                                        <div class="case-tile__col-descr">Снизила процент отказов с 30 до 25%, оптимизировав бюджет и сократив расходы на нецелевые визиты</div>
                                        <div class="case-tile__bar case-tile__bar--3">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                    <div class="case-tile__col">
                                        <div class="case-tile__col-descr">Повышение глубины и времени проведенном на сайте</div>
                                        <div class="case-tile__bar case-tile__bar--2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="case-tile">
                                <div class="case-tile__main">
                                    <div class="case-tile__title">
                                        <span class="case-tile__badge">№2</span>
                                        Ежемесячный рост числа заявок при снижении стоимости лида в нише строительства зданий площадью от 1500 кв.м.
                                    </div>
                                    <a class="case-tile__link" href="#">Посмотреть результат</a>
                                    <div class="case-tile__target">
                                        <div class="case-tile__subtitle">Цель</div>
                                        <div class="case-tile__descr">Удерживать позиции в рекламной выдаче и увеличить количество квалифицированных лидов как минимум на 15%.</div>
                                    </div>
                                </div>
                                <div class="case-tile__cols">
                                    <div class="case-tile__col">
                                        <div class="case-tile__col-descr">Снизила процент отказов с 35 до 28%, оптимизировав бюджет и сократив расходы на нецелевые визиты</div>
                                        <div class="case-tile__bar case-tile__bar--4">
                                            <span>28%</span>
                                        </div>
                                    </div>
                                    <div class="case-tile__col">
                                        <div class="case-tile__col-descr">В сентябре 2024 года помогла внедрить систему сквозной аналитики для повышения прозрачности и контроля над процессами</div>
                                        <div class="case-tile__bar case-tile__bar--3"></div>
                                    </div>
                                    <div class="case-tile__col">
                                        <div class="case-tile__col-descr">Увеличила количество квалифицированных лидов</div>
                                        <div class="case-tile__bar case-tile__bar--2"></div>
                                    </div>
                                    <div class="case-tile__col">
                                        <div class="case-tile__col-descr">Полностью пересобрала рекламные кампании</div>
                                        <div class="case-tile__bar case-tile__bar--1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="case-tile">
                                <div class="case-tile__main">
                                    <div class="case-tile__title">
                                        <span class="case-tile__badge">№3</span>
                                        Реклама для DIMoutlet интернет-магазин нижнего белья DIM
                                    </div>
                                    <a class="case-tile__link" href="#">Посмотреть результат</a>
                                    <div class="case-tile__target">
                                        <div class="case-tile__subtitle">Цель</div>
                                        <div class="case-tile__descr">Увеличение количества покупок, посетителей, глубины и времени, проведенном на сайте.</div>
                                    </div>
                                </div>
                                <div class="case-tile__cols">
                                    <div class="case-tile__col">
                                        <div class="case-tile__col-descr">Положительная динамика доходов от рекламного трафика</div>
                                        <div class="case-tile__bar case-tile__bar--4">
                                            <span>> <div>600<small>тыс.руб/мес</small></div></span>
                                        </div>
                                    </div>
                                    <div class="case-tile__col">
                                        <div class="case-tile__col-descr">Конверсия в продажу от общего трафика с рекламы</div>
                                        <div class="case-tile__bar case-tile__bar--3">
                                            <span>~1,5%</span>
                                        </div>
                                    </div>
                                    <div class="case-tile__col">
                                        <div class="case-tile__col-descr">Интенсивный рост рекламного трафика за счет единовременного использования различных форматов рекламы в Яндекс и Google</div>
                                        <div class="case-tile__bar case-tile__bar--2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="case-slider__footer">
                    <div class="swiper-button-prev" data-case-prev>
                        <img src="assets/img/prev.svg" alt="prev">
                    </div>

                    <div class="swiper-pagination" data-case-pagination></div>

                    <div class="swiper-button-next" data-case-next>
                        <img src="assets/img/next.svg" alt="next">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
