<section class="case-start section-new">
    <div class="case-start__container container-new">
        <div class="section-new__header">
            <h2 class="section-new__title">Старт</h2>
        </div>

        <div class="section-new__body">
            <div class="case-start__table">
                <div class="case-start__table-row case-start__table-row--primary">
                    <div class="case-start__table-col">
                        <p class="case-start__table-label">Описание проекта</p>
                    </div>

                    <div class="case-start__table-col">
                        <h2 class="case-start__table-title">
                            Заказчик - компания по оказанию услуг переводов текста,
                            документов на любые языки мира по всей России.
                        </h2>

                        <div class="case-start__date">
                            <span class="case-start__date-label">
                                Старт работ:
                            </span>

                            <span class="case-start__date-value">
                                01.02.<br/>2019
                            </span>
                        </div>
                    </div>
                </div>

                <div class="case-start__table-row case-start__table-row--secondary">
                    <div class="case-start__table-col"></div>

                    <div class="case-start__table-col">
                        <p class="case-start__table-desc">
                            Сайт на самописном движке, нет адаптива, отсутствует коммерческая структура страниц, более 90% отказов из рекламных источников. Трафик из канала "Поисковые системы" шёл по запросам "+нотариус", что не является услугой компании.
                        </p>
                    </div>
                </div>

                <div class="case-start__table-row case-start__table-row--tertiary">
                    <div class="case-start__table-col">
                        <p class="case-start__table-label">Исходные данные</p>
                    </div>

                    <div class="case-start__table-col">
                        <table>
                            <tr>
                                <th>KPI</th>
                                <th>Данные на старте</th>
                            </tr>

                            <tr>
                                <td>Трафик Поисковые системы</td>
                                <td>639</td>
                            </tr>

                            <tr>
                                <td>Доля SEO-трафика</td>
                                <td>72,5%</td>
                            </tr>

                            <tr>
                                <td>Видимость по коммерческому СЯ Москва</td>
                                <td>0%</td>
                            </tr>

                            <tr>
                                <td>Видимость по коммерческому СЯ Россия</td>
                                <td>0%</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="case-start__table-row case-start__table-row--quaternary">
                    <div class="case-start__table-col">
                        <p class="case-start__table-label">Цель</p>
                    </div>

                    <div class="case-start__table-col">
                        <h2 class="case-start__table-title">
                            Изучил спрос по семантике через парсинг Вордстата и конкурентов ТОПа. Выставили задачи и цели до конца года.
                        </h2>
                    </div>

                    <div class="case-start__table-col"></div>

                    <div class="case-start__table-col">
                        <div class="case-start__goals">
                            <div class="case-start__goals-col">
                                <div class="case-start__goals-main">
                                    <span class="case-start__goals-label">
                                        Достичь
                                    </span>

                                    <span class="case-start__goals-percent">
                                        80%
                                    </span>
                                </div>

                                <div class="case-start__goals-footer">
                                    видимости в обеих ПС по региону Москва за 12 месяцев
                                </div>
                            </div>

                            <div class="case-start__goals-col">
                                <div class="case-start__goals-main">
                                    <span class="case-start__goals-label">
                                        Достичь
                                    </span>

                                    <span class="case-start__goals-percent">
                                       40%
                                    </span>
                                </div>

                                <div class="case-start__goals-footer">
                                    видимости в обеих ПС<br/> по городам миллионникам<br/> до конца года
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="case-start__table-row case-start__table-row--quinary">
                    <div class="case-start__table-col">
                        <p class="case-start__table-label">Задачи</p>
                    </div>

                    <div class="case-start__table-col">
                        <ul>
                            <li>Постоянный приток целевой аудитории на сайт по релевантным коммерческим запросам из канала Поисковые системы с положительной динамикой прироста.</li>
                            <li>Улучшать качественные и конверсионные показатели сайта для всех каналов привлечения.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
