<section id="case-go" class="section-new case-go">
    <div class="starting-new__container container-new">
        <div class="section-new__header">
            <h2 class="section-new__title">
                Let's go!
            </h2>
        </div>

        <div class="section-new__body">
            <div class="case-go__table">
                <div class="case-go__table-row">
                    <div class="case-go__table-col">
                        <p class="case-go__table-label">Стратегия</p>
                    </div>

                    <div class="case-go__table-col">
                        <ul>
                            <li>Раскрыть предложения по спросу ЦА</li>
                            <li>Сделать новый сайт с созданием посадочных страниц по всей семантике спроса</li>
                            <li>Масштабирование на регионы</li>
                            <li>Усилить внешнее SEO</li>
                        </ul>
                    </div>
                </div>

                <div class="case-go__table-row">
                    <div class="case-go__table-col">
                        <p class="case-go__table-label">План</p>
                    </div>

                    <div class="case-go__table-col">
                        <ol>
                            <li>Купить CMS и готовый шаблон сайта с удобным<br/> интерфейсом</li>
                            <li>Собрать структуру сайта согласно спросу по семантике</li>
                            <li>Провести внутреннюю оптимизацию и начать работы<br/> по внешним факторам</li>
                            <li>Создать функционал для ранжирования в регионах.<br/> Внедрить SEO.</li>
                        </ol>
                    </div>
                </div>

                <div class="case-go__table-row">
                    <div class="case-go__table-col">
                        <p class="case-go__table-label">Реализация</p>
                    </div>

                    <div class="case-go__table-col">
                        <h2 class="case-go__name">
                            Заключили договор с подрядчиками по разработке и я начал выставлять задачи.
                        </h2>
                    </div>

                    <div class="case-go__table-col case-go__table-col--steps">
                        {{> starting-steps-case}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
