<section class="case-welcome">
    <div class="case-welcome__container container-new">
        <div class="case-welcome__header">
            <div class="case-welcome__tags">
                <div class="case-welcome__tags-item">SEO</div>
                <div class="case-welcome__tags-item">Реклама в СМИ</div>
            </div>

            <h1 class="case-welcome__title">
                +1972% трафика за 4 года в нише Бюро переводов
            </h1>
        </div>

        <div class="case-welcome__main">
            <img
                class="case-welcome__pic case-welcome__pic--desktop"
                src="./assets/img/chart-desktop.svg"
                alt="+1972% трафика за 4 года в нише Бюро переводов"
                loading="lazy"
            >

            <img
                class="case-welcome__pic case-welcome__pic--tablet"
                src="./assets/img/chart-tablet.svg"
                alt="+1972% трафика за 4 года в нише Бюро переводов"
                loading="lazy"
            >

            <img
                class="case-welcome__pic case-welcome__pic--mobile"
                src="./assets/img/chart-mobile.svg"
                alt="+1972% трафика за 4 года в нише Бюро переводов"
                loading="lazy"
            >
        </div>
    </div>
</section>
