<section id="cases-slider-secondary" class="section-new cases-slider-secondary">
    <div class="container-new">
        <div class="section-new__header">
            <h2 class="section-new__title">Посмотрите другие успешные кейсы</h2>
        </div>

        <div class="section-new__body">
            <div class="cases-slider-secondary__slider">
                <div class="swiper" data-case-slider-2>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="cases-slider-secondary__row">
                                <div class="cases-slider-secondary__main">
                                    <div class="cases-slider-secondary__tags">
                                        <div class="cases-slider-secondary__tags-item">SEO</div>
                                        <div class="cases-slider-secondary__tags-item">Контекстная реклама</div>
                                    </div>
                                    <div class="cases-slider-secondary__title">
                                        Привлечение покупателей для ресейл — платформы брендов класса LUX
                                    </div>
                                </div>

                                <div class="cases-slider-secondary__footer">
                                    <a class="cases-slider-secondary__more button button--border" href="#">
                                        Подробнее

                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 1L11 6M11 6L6 11M11 6L1 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="cases-slider-secondary__row">
                                <div class="cases-slider-secondary__main">
                                    <div class="cases-slider-secondary__tags">
                                        <div class="cases-slider-secondary__tags-item">SEO</div>
                                        <div class="cases-slider-secondary__tags-item">Реклама в СМИ</div>
                                    </div>
                                    <div class="cases-slider-secondary__title">
                                        +433% SEO-трафика в нише Фотопечать за 2 года
                                    </div>
                                </div>

                                <div class="cases-slider-secondary__footer">
                                    <a class="cases-slider-secondary__more button button--border" href="#">
                                        Подробнее

                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 1L11 6M11 6L6 11M11 6L1 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="cases-slider-secondary__row">
                                <div class="cases-slider-secondary__main">
                                    <div class="cases-slider-secondary__tags">
                                        <div class="cases-slider-secondary__tags-item">Реклама в СМИ</div>
                                        <div class="cases-slider-secondary__tags-item">Контекстная реклама</div>
                                    </div>
                                    <div class="cases-slider-secondary__title">
                                        Привлечение покупателей для ресейл — платформы брендов класса LUX
                                    </div>
                                </div>

                                <div class="cases-slider-secondary__footer">
                                    <a class="cases-slider-secondary__more button button--border" href="#">
                                        Подробнее

                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 1L11 6M11 6L6 11M11 6L1 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cases-slider-secondary__slider-bottom">
                    <div class="swiper-button-prev" data-case-prev>
                        <img src="assets/img/prev.svg" alt="prev">
                    </div>

                    <div class="swiper-pagination" data-case-pagination></div>

                    <div class="swiper-button-next" data-case-next>
                        <img src="assets/img/next.svg" alt="next">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
