<section id="expertise" class="section-new expertise">
    <div class="expertise__container container-new">
        <div class="section-new__header">
            <h2 class="section-new__title">
                Экспертиза
            </h2>
        </div>

        <div class="section-new__body">
            <div class="expertise__row">
                <div class="expertise__col expertise__col--primary">
                    <div class="expertise__col-item">
                        <p class="expertise__col-name">
                            Search Engine Optimization
                            (SEO)
                        </p>

                        <span class="expertise__col-icon">
                             <img src="./assets/img/icons/icon-search.svg" loading="lazy">
                        </span>
                    </div>

                    <div class="expertise__col-item">
                        <p class="expertise__col-desc">
                            Предложу точки роста и эффективные решения по развитию проекта в канале Поисковые системы. Напишу план на квартал перед стартом работ.
                            Семантическое проектирование сайта, работа с семантическим ядром, построение структуры, техническая внутренняя оптимизация, внешнее продвижение, переезд сайта.
                        </p>

                        <a href="#" class="expertise__col-more">
                            Подробнее об услуге SEO
                        </a>
                    </div>
                </div>

                <div class="expertise__col expertise__col--secondary">
                    <div class="expertise__col-item">
                        <p class="expertise__col-name">
                            Реклама Яндекс.Директ
                        </p>

                        <span class="expertise__col-icon">
                            <img src="./assets/img/icons/icon-ad.svg" loading="lazy">
                        </span>
                    </div>

                    <div class="expertise__col-item">
                        <p class="expertise__col-desc">
                            Глубокий анализ, релевантные объявления,
                            исключение мусора, ретаргетинг и постоянная оптимизация.
                        </p>

                        <a href="#" class="expertise__col-more">
                            Подробнее об услуге Я.Директ
                        </a>
                    </div>
                </div>

                <div class="expertise__col expertise__col--tertiary">
                    <div class="expertise__col-item">
                        <p class="expertise__col-name">
                            Разработка и<br/>
                            поддержка сайтов
                        </p>
                    </div>

                    <div class="expertise__col-item">
                        <p class="expertise__col-desc">
                            Помощь в организации разработки и поддержке сайтов.
                            Для проектов без своей команды разработки.
                        </p>
                    </div>

                    <div class="expertise__col-item expertise__col-item--tag">
                        <span class="expertise__col-tag">
                            Дополнительно
                        </span>
                    </div>

                    <div class="expertise__col-item expertise__col-item--stack">
                        <div class="expertise__stack">
                            <div class="expertise__stack-col expertise__stack-col--frontend">
                                <div class="expertise__stack-header">
                                    <p class="expertise__stack-name">Frontend:</p>
                                    <p class="expertise__stack-list">React, Vue, Angular, HTML, CSS</p>
                                </div>
                            </div>

                            <div class="expertise__stack-col expertise__stack-col--backend">
                                <div class="expertise__stack-header">
                                    <p class="expertise__stack-name">Backend:</p>
                                    <p class="expertise__stack-list">PHP (Yii2, Laravel, Symfony, 1С-Битрикс), Python, Wordpress, С#</p>
                                </div>
                            </div>

                            <div class="expertise__stack-col expertise__stack-col--qa">
                                <div class="expertise__stack-header">
                                    <p class="expertise__stack-name">QA:</p>
                                    <p class="expertise__stack-list">Manual/Auto (Python, Java)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
