<section id="faq" class="section-new">
    <div class="container-new">
        <div class="section-new__header">
            <h2 class="section-new__title">Частые вопросы</h2>
        </div>
        <div class="section-new__body">
            <div class="faq-slider">
                <div class="swiper" data-faq-slider>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="faq-tile">
                                <div class="faq-tile__badge">№1</div>
                                <div class="faq-tile__title">Сколько времени нужно, чтобы увидеть результат?</div>
                                <div class="faq-tile__subtitle">Ответ:</div>
                                <div class="faq-tile__descr">
                                    <ul>
                                        <li>SEO: Первые сдвиги – через 3–6 месяцев (зависит от конкурентности ниши).</li>
                                        <li>Контекстная реклама: Трафик – с первого дня, но настройка и оптимизация занимают 1–3 месяца.</li>
                                    </ul>
                                    <p>Что влияет на сроки: Возраст сайта, уровень конкуренции, бюджет, качество оптимизации.</p>
                                    <p>Мы дадим реалистичные прогнозы и объясним этапы работы.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="faq-tile">
                                <div class="faq-tile__badge">№2</div>
                                <div class="faq-tile__title">Почему в топе конкуренты с худшим контентом/сайтом?</div>
                                <div class="faq-tile__subtitle">Ответ:</div>
                                <div class="faq-tile__descr">
                                    <p>Возможные причины:</p>
                                    <ul>
                                        <li>У них старые, «авторитетные» домены.</li>
                                        <li>Сильная бэклинк-история, даже если контент слабее, ссылки помогают занимать ТОП.</li>
                                        <li>Лучшая техническая оптимизация: скорость, микроразметка.</li>
                                        <li>Использование «серых» методов например, PBN-сети.  </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="faq-tile">
                                <div class="faq-tile__badge">№3</div>
                                <div class="faq-tile__title">Какой бюджет нужен для продвижения?</div>
                                <div class="faq-tile__subtitle">Ответ:</div>
                                <div class="faq-tile__descr">
                                    <ul>
                                        <li>SEO: От 30–60 тыс. руб./мес. для локального бизнеса и до 200–500 тыс. руб./мес. для высококонкурентных тематик/</li>
                                        <li>Контекст: Зависит от стоимости клика (СРС). Старт – от 20–50 тыс. руб./мес.</li>
                                    </ul>
                                    <p>Что учесть: Аудит перед стартом, сезонность, тестирование гипотез.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide--hidden">
                            <div class="faq-tile">
                                <div class="faq-tile__badge">№4</div>
                                <div class="faq-tile__title">Какие гарантии вы даете?</div>
                                <div class="faq-tile__subtitle">Ответ:</div>
                                <div class="faq-tile__descr">
                                    <p>Проблема: Честные подрядчики не дают 100% гарантий вывода в ТОП так как алгоритмы поисковых систем постоянно меняются, совершенствуются.</p>
                                    <p>Что можно гарантировать:</p>
                                    <ul>
                                        <li>Рост трафика (на X% за N месяцев)</li>
                                        <li>Увеличение конверсий (если работают CRO-м)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide--hidden">
                            <div class="faq-tile">
                                <div class="faq-tile__badge">№5</div>
                                <div class="faq-tile__title">Как вы отчитываетесь о работе?</div>
                                <div class="faq-tile__subtitle">Ответ:</div>
                                <div class="faq-tile__descr">
                                    <p>Примеры метрик:</p>
                                    <ul>
                                        <li>SEO: Позиции, трафик, динамика по согласованным KPI. Задачи ведутся в CRM с общим доступом всех участников проекта - полная прозрачность.</li>
                                        <li>Контекст: CTR, CPC, конверсии, ROI.</li>
                                    </ul>

                                    <p>Формы отчетности:</p>
                                    <ul>
                                        <li>Google Data Studio, скриншоты из Google Analytics, таблицы с динамикой.</li>
                                        <li>Разбор изменений и планы на следующий месяц.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide--hidden">
                            <div class="faq-tile">
                                <div class="faq-tile__badge">№6</div>
                                <div class="faq-tile__title">Не навредите ли вы сайту?</div>
                                <div class="faq-tile__subtitle">Ответ:</div>
                                <div class="faq-tile__descr">
                                    <p>Риски: </p>
                                    <ul>
                                        <li>Некорректные правки (потеря трафика при редизайне).</li>
                                        <li>Переоптимизация (санкции за спам).</li>
                                        <li>Покупка «плохих» ссылок (пессимизация).</li>
                                    </ul>
                                    <p>Как защититься: </p>
                                    <ul>
                                        <li>Проверить репутацию агентства (отзывы, кейсы).</li>
                                        <li>Резервные копии сайта перед изменениями.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide--hidden">
                            <div class="faq-tile">
                                <div class="faq-tile__badge">№7</div>
                                <div class="faq-tile__title">«Почему упал трафик/позиции?» (если уже работают с подрядчиком)</div>
                                <div class="faq-tile__subtitle">Ответ:</div>
                                <div class="faq-tile__descr">
                                    <p>Возможные причины:</p>
                                    <ul>
                                        <li>Алгоритмные обновления (Google Core Update).</li>
                                        <li>Технические сбои (404 ошибки после обновления).</li>
                                        <li>Действия конкурентов.</li>
                                    </ul>
                                    <p>Что требовать от подрядчика:</p>
                                    <ul>
                                        <li>Анализ причин (через Google Search Console, логи сервера).</li>
                                        <li>План восстановления.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide--hidden">
                            <div class="faq-tile">
                                <div class="faq-tile__badge">№8</div>
                                <div class="faq-tile__title">SEO или контекст – что лучше?</div>
                                <div class="faq-tile__subtitle">Ответ:</div>
                                <div class="faq-tile__descr">
                                    <p>Контекст:</p>
                                    <ul>
                                        <li>Быстрый трафик, но дорого в конкурентных нишах.</li>
                                        <li>Подходит для тестов и сезонных кампаний.</li>
                                    </ul>
                                    <p>SEO:</p>
                                    <ul>
                                        <li>Долгий результат, но «бесплатный» трафик в перспективе. </li>
                                        <li>Лучше для масштабирования.  </li>
                                    </ul>
                                    <p>Комбинация (контекст – для быстрых продаж, SEO – для долгосрочного роста)</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide--hidden">
                            <div class="faq-tile">
                                <div class="faq-tile__badge">№9</div>
                                <div class="faq-tile__title">Как вы выбираете ключевые слова?</div>
                                <div class="faq-tile__subtitle">Ответ:</div>
                                <div class="faq-tile__descr">
                                    <p>Критерии:</p>
                                    <ul>
                                        <li>Частотность (высоко-, средне-, низкочастотники).</li>
                                        <li>Конкурентность.</li>
                                        <li>Коммерческий потенциал («купить» vs «как выбрать»).</li>
                                    </ul>
                                    <p>Инструменты: Key Collector, SEMrush, Google Keyword Planner.</p>
                                    <p>Запросы должны соответствовать этапу воронки.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide--hidden">
                            <div class="faq-tile">
                                <div class="faq-tile__badge">№10</div>
                                <div class="faq-tile__title">Можно ли сэкономить на продвижении?</div>
                                <div class="faq-tile__subtitle">Ответ:</div>
                                <div class="faq-tile__descr">
                                    <p>Риски «дешевого» SEO:</p>
                                    <ul>
                                        <li>Низкокачественные ссылки.</li>
                                        <li>Шаблонные тексты.</li>
                                        <li>Отсутствие аналитики.</li>
                                    </ul>
                                    <p>Как оптимизировать бюджет</p>
                                    <ul>
                                        <li>Фокус на низкочастотных запросах.</li>
                                        <li>Упор на контент-маркетинг (блог, гайды).</li>
                                        <li>Постепенное масштабирование.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="faq-slider__bottom">
                    <div class="swiper-button-prev" data-faq-prev>
                        <img src="assets/img/prev.svg" alt="prev">
                    </div>

                    <div class="swiper-pagination" data-faq-pagination></div>

                    <div class="swiper-button-next" data-faq-next>
                        <img src="assets/img/next.svg" alt="next">
                    </div>
                </div>
            </div>

            <button class="faq-more" type="button">
                Посмотреть больше
            </button>
        </div>
    </div>
</section>
