<section class="hero">
	<div class="hero__wrapper">
		<div class="container">
			<div class="hero__black"></div>
			<div class="hero__content">
				<div class="hero__body">
					<p class="hero__name">Андрей Бакленев</p>
					<h1 class="hero__title">
						Частный специалист по<br>Search Engine Optimization (SEO)
					</h1>
					<div class="hero__seo hero-seo">
						<p class="hero-seo__title">Моё SEO</p>
						<div class="hero-seo__wrapper">
							<div class="hero-seo__block">
								<ul>
									<li>Увеличит продажи</li>
									<li>Снизит стоимость продажи</li>
								</ul>
							</div>
							<div class="hero-seo__block">
								<ul>
									<li>Увеличит популярность бренда</li>
									<li>Улучшит характеристики сайта для других каналов привлечения</li>
								</ul>
							</div>
						</div>
					</div>
					<button class="hero__btn btn btn--light">НАПИСАТЬ В Мессенджер</button>
				</div>
				<div class="hero__links">
					<a class="hero__link" href="#" data-tooltip-color="true" data-tooltip-rotate="true" data-my-tooltip="В разработке">Instagram</a>
					<a class="hero__link" href="https://www.behance.net/a7510522a64a" target="_blank">Behance</a>
				</div>
			</div>
		</div>
	</div>
</section>
