<section id="section-message" class="message message-seo">
  <div class="container">
    <div class="message__wrapper">
      <div class="message__left">
        <p class="message__left-text">Обратная связь</p>
      </div>
      <div class="message__right">
        <p class="message__right-text">
          Если у вас остались вопросы по SEO, или у вашего проекта есть задача, которая не подходит под вышесказанное, напишите мне в мессенджер или письмо на E-mail.
        </p>
        <div class="message__links">
          <a href="tg://resolve?domain=AndreyBaklenev" class="message__link">Telegram</a>
          <a href="skype:nikname?seo-baklenev" class="message__link">Skype</a>
          <a href="https://api.whatsapp.com/send?phone=79055097875" target="_blank" class="message__link">WhatsApp</a>
        </div>
      </div>
    </div>
  </div>
</section>
