<section id="methodology" class="section-new methodology">
    <div class="methodology__container">
        <div class="section-new__header container-new">
            <h2 class="section-new__title">
                Методология продвижения
            </h2>
        </div>

        <div class="section-new__body">
            <div class="methodology__tabs">
                <ul
                    id="methodology-tabs-header"
                    class="methodology__tabs-header container-new"
                    data-tabs
                >
                    <li class="methodology__tabs-title tabs-title is-active">
                        <a
                            href="#methodology-tabs-panel-1"
                            aria-selected="true"
                            data-tabs-target="methodology-tabs-panel-1"
                        >
                            SEO
                        </a>
                    </li>

                    <li class="methodology__tabs-title tabs-title">
                        <a
                                href="#methodology-tabs-panel-2"
                                data-tabs-target="methodology-tabs-panel-2"
                        >
                            Контекстная реклама
                        </a>
                    </li>

                    <li class="methodology__tabs-title tabs-title">
                        <a
                           href="#methodology-tabs-panel-3"
                           data-tabs-target="methodology-tabs-panel-3"
                        >
                            SEO + Контекст
                        </a>
                    </li>

                    <li class="methodology__tabs-title tabs-title">
                        <a
                           href="#methodology-tabs-panel-4"
                           data-tabs-target="methodology-tabs-panel-4"
                        >
                            Дополнительные инструменты
                        </a>
                    </li>
                </ul>

                <div
                    class="methodology__tabs-main tabs-content"
                    data-tabs-content="methodology-tabs-header"
                >
                    <!-- 1 -->
                    <div
                         id="methodology-tabs-panel-1"
                         class="methodology__tabs-panel container-new tabs-panel is-active"
                    >
                        <div class="methodology__tabs-row">
                            <div class="methodology__tabs-col methodology__tabs-col--title">
                                <h2 class="methodology__tabs-name">
                                    SEO (Search Engine Optimization)
                                </h2>

                                <p class="methodology__tabs-subtitle">
                                    Оптимизация сайта для органического роста в канале Поисковые системы (в отчёте Яндекс Метрика)
                                </p>
                            </div>

                            <div class="methodology__tabs-col">
                                <div class="methodology__tabs-text">
                                    <ul
                                        class="methodology__accordion accordion"
                                        data-accordion
                                        data-allow-all-closed="true"
                                    >
                                        <li
                                            class="methodology__accordion-item accordion-item"
                                            data-accordion-item
                                        >
                                            <a
                                                class="methodology__accordion-title accordion-title"
                                                href="#"
                                            >
                                                Основные методы
                                            </a>

                                            <div
                                                class="methodology__accordion-content accordion-content"
                                                data-tab-content
                                                style="display: none;"
                                            >
                                                <ul>
                                                    <li>Техническое SEO (задачи разработки по нашим ТЗ)</li>
                                                    <li>Ускорение загрузки: кэширование, оптимизация изображений по весу, CDN.</li>
                                                    <li>Корректная индексация: robots.txt, sitemap.xml, управление Вебмастером Яндекс и Google Search Console.</li>
                                                    <li>Адаптивность под мобильные устройства.</li>
                                                    <li>Исправление ошибок: битые ссылки, дубли страниц, ошибки 404, базовые редиректы 301.</li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li
                                            class="methodology__accordion-item accordion-item"
                                            data-accordion-item
                                        >
                                            <a
                                                class="methodology__accordion-title accordion-title"
                                                href="#"
                                            >
                                                Внутренняя оптимизация
                                            </a>

                                            <div
                                                class="methodology__accordion-content accordion-content"
                                                data-tab-content
                                                style="display: none;"
                                            >
                                                <p>
                                                    Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
                                                </p>

                                                <p>
                                                    Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
                                                </p>
                                            </div>
                                        </li>

                                        <li
                                            class="methodology__accordion-item accordion-item"
                                            data-accordion-item
                                        >
                                            <a
                                                class="methodology__accordion-title accordion-title"
                                                href="#"
                                            >
                                                Внешняя оптимизация (линкбилдинг)
                                            </a>

                                            <div
                                                class="methodology__accordion-content accordion-content"
                                                data-tab-content
                                                style="display: none;"
                                            >
                                                <p>
                                                    Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
                                                </p>

                                                <p>
                                                    Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
                                                </p>
                                            </div>
                                        </li>

                                        <li
                                            class="methodology__accordion-item accordion-item"
                                            data-accordion-item
                                        >
                                            <a
                                                class="methodology__accordion-title accordion-title"
                                                href="#"
                                            >
                                                Локальное SEO для бизнеса
                                            </a>

                                            <div
                                                class="methodology__accordion-content accordion-content"
                                                data-tab-content
                                                style="display: none;"
                                            >
                                                <p>
                                                    Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
                                                </p>

                                                <p>
                                                    Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 2 -->
                    <div
                        id="methodology-tabs-panel-2"
                        class="methodology__tabs-panel container-new tabs-panel"
                    >
                        <div class="methodology__tabs-row">
                            <div class="methodology__tabs-col methodology__tabs-col--title">
                                <h2 class="methodology__tabs-name">
                                    Контекстная реклама<br/>
                                    (PPC – Pay Per Click)
                                </h2>

                                <p class="methodology__tabs-subtitle">
                                    Платное продвижение через рекламные системы Google Ads (временно отключено для России), Яндекс.Директ.
                                </p>
                            </div>

                            <div class="methodology__tabs-col">
                                <div class="methodology__tabs-text">
                                    <ul
                                            class="methodology__accordion accordion"
                                            data-accordion
                                            data-allow-all-closed="true"
                                    >
                                        <li
                                                class="methodology__accordion-item accordion-item"
                                                data-accordion-item
                                        >
                                            <a
                                                    class="methodology__accordion-title accordion-title"
                                                    href="#"
                                            >
                                                Основные методы
                                            </a>

                                            <div
                                                    class="methodology__accordion-content accordion-content"
                                                    data-tab-content
                                                    style="display: none;"
                                            >
                                                <ul>
                                                    <li>Техническое SEO (задачи разработки по нашим ТЗ)</li>
                                                    <li>Ускорение загрузки: кэширование, оптимизация изображений по весу, CDN.</li>
                                                    <li>Корректная индексация: robots.txt, sitemap.xml, управление Вебмастером Яндекс и Google Search Console.</li>
                                                    <li>Адаптивность под мобильные устройства.</li>
                                                    <li>Исправление ошибок: битые ссылки, дубли страниц, ошибки 404, базовые редиректы 301.</li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li
                                                class="methodology__accordion-item accordion-item"
                                                data-accordion-item
                                        >
                                            <a
                                                    class="methodology__accordion-title accordion-title"
                                                    href="#"
                                            >
                                                РСЯ (Рекламная сеть Яндекса) и КМС
                                            </a>

                                            <div
                                                    class="methodology__accordion-content accordion-content"
                                                    data-tab-content
                                                    style="display: none;"
                                            >
                                                <p>
                                                    Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
                                                </p>

                                                <p>
                                                    Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
                                                </p>
                                            </div>
                                        </li>

                                        <li
                                                class="methodology__accordion-item accordion-item"
                                                data-accordion-item
                                        >
                                            <a
                                                    class="methodology__accordion-title accordion-title"
                                                    href="#"
                                            >
                                                Smart-кампании
                                            </a>

                                            <div
                                                    class="methodology__accordion-content accordion-content"
                                                    data-tab-content
                                                    style="display: none;"
                                            >
                                                <p>
                                                    Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
                                                </p>

                                                <p>
                                                    Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
                                                </p>
                                            </div>
                                        </li>

                                        <li
                                                class="methodology__accordion-item accordion-item"
                                                data-accordion-item
                                        >
                                            <a
                                                    class="methodology__accordion-title accordion-title"
                                                    href="#"
                                            >
                                                Видеореклама (VK-видео, Rutube)
                                            </a>

                                            <div
                                                    class="methodology__accordion-content accordion-content"
                                                    data-tab-content
                                                    style="display: none;"
                                            >
                                                <p>
                                                    Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
                                                </p>

                                                <p>
                                                    Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 3 -->
                    <div
                        id="methodology-tabs-panel-3"
                        class="methodology__tabs-panel container-new tabs-panel"
                    >
                        <div class="methodology__tabs-row">
                            <div class="methodology__tabs-col methodology__tabs-col--title">
                                <h2 class="methodology__tabs-name">
                                    Комбинированные<br/>
                                    стратегии SEO + Контекст
                                </h2>
                            </div>

                            <div class="methodology__tabs-col">
                                <div class="methodology__tabs-text">
                                    <ul
                                            class="methodology__accordion accordion"
                                            data-accordion
                                            data-allow-all-closed="true"
                                    >
                                        <li
                                                class="methodology__accordion-item accordion-item"
                                                data-accordion-item
                                        >
                                            <a
                                                    class="methodology__accordion-title accordion-title"
                                                    href="#"
                                            >
                                                Воронка трафика
                                            </a>

                                            <div
                                                    class="methodology__accordion-content accordion-content"
                                                    data-tab-content
                                                    style="display: none;"
                                            >
                                                <ul>
                                                    <li>Техническое SEO (задачи разработки по нашим ТЗ)</li>
                                                    <li>Ускорение загрузки: кэширование, оптимизация изображений по весу, CDN.</li>
                                                    <li>Корректная индексация: robots.txt, sitemap.xml, управление Вебмастером Яндекс и Google Search Console.</li>
                                                    <li>Адаптивность под мобильные устройства.</li>
                                                    <li>Исправление ошибок: битые ссылки, дубли страниц, ошибки 404, базовые редиректы 301.</li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li
                                                class="methodology__accordion-item accordion-item"
                                                data-accordion-item
                                        >
                                            <a
                                                    class="methodology__accordion-title accordion-title"
                                                    href="#"
                                            >
                                                Ретаргетинг + SEO
                                            </a>

                                            <div
                                                    class="methodology__accordion-content accordion-content"
                                                    data-tab-content
                                                    style="display: none;"
                                            >
                                                <p>
                                                    Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
                                                </p>

                                                <p>
                                                    Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
                                                </p>
                                            </div>
                                        </li>

                                        <li
                                                class="methodology__accordion-item accordion-item"
                                                data-accordion-item
                                        >
                                            <a
                                                    class="methodology__accordion-title accordion-title"
                                                    href="#"
                                            >
                                                Анализ ключевых слов
                                            </a>

                                            <div
                                                    class="methodology__accordion-content accordion-content"
                                                    data-tab-content
                                                    style="display: none;"
                                            >
                                                <p>
                                                    Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
                                                </p>

                                                <p>
                                                    Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
                                                </p>
                                            </div>
                                        </li>

                                        <li
                                                class="methodology__accordion-item accordion-item"
                                                data-accordion-item
                                        >
                                            <a
                                                    class="methodology__accordion-title accordion-title"
                                                    href="#"
                                            >
                                                Ускорение индексации
                                            </a>

                                            <div
                                                    class="methodology__accordion-content accordion-content"
                                                    data-tab-content
                                                    style="display: none;"
                                            >
                                                <p>
                                                    Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
                                                </p>

                                                <p>
                                                    Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 4 -->
                    <div
                        id="methodology-tabs-panel-4"
                        class="methodology__tabs-panel container-new tabs-panel"
                    >
                        <div class="methodology__tabs-row">
                            <div class="methodology__tabs-col methodology__tabs-col--title">
                                <h2 class="methodology__tabs-name">
                                    Дополнительные<br/>
                                    инструменты
                                </h2>
                            </div>

                            <div class="methodology__tabs-col">
                                <div class="methodology__tabs-text">
                                    <ul
                                            class="methodology__accordion accordion"
                                            data-accordion
                                            data-allow-all-closed="true"
                                    >
                                        <li
                                                class="methodology__accordion-item accordion-item"
                                                data-accordion-item
                                        >
                                            <a
                                                    class="methodology__accordion-title accordion-title"
                                                    href="#"
                                            >
                                                SEO + Content Marketing – создание полезного контента:<br/>
                                                блоги, гайды, FAQ.
                                            </a>

                                            <div
                                                    class="methodology__accordion-content accordion-content"
                                                    data-tab-content
                                                    style="display: none;"
                                            >
                                                <ul>
                                                    <li>Техническое SEO (задачи разработки по нашим ТЗ)</li>
                                                    <li>Ускорение загрузки: кэширование, оптимизация изображений по весу, CDN.</li>
                                                    <li>Корректная индексация: robots.txt, sitemap.xml, управление Вебмастером Яндекс и Google Search Console.</li>
                                                    <li>Адаптивность под мобильные устройства.</li>
                                                    <li>Исправление ошибок: битые ссылки, дубли страниц, ошибки 404, базовые редиректы 301.</li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li
                                                class="methodology__accordion-item accordion-item"
                                                data-accordion-item
                                        >
                                            <a
                                                    class="methodology__accordion-title accordion-title"
                                                    href="#"
                                            >
                                                SEO + SMM – продвижение через соцсети, увеличение цитируемости
                                            </a>

                                            <div
                                                    class="methodology__accordion-content accordion-content"
                                                    data-tab-content
                                                    style="display: none;"
                                            >
                                                <p>
                                                    Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
                                                </p>

                                                <p>
                                                    Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
                                                </p>
                                            </div>
                                        </li>

                                        <li
                                                class="methodology__accordion-item accordion-item"
                                                data-accordion-item
                                        >
                                            <a
                                                    class="methodology__accordion-title accordion-title"
                                                    href="#"
                                            >
                                                SEO + CRO (Conversion Rate Optimization) – улучшение юзабилити и конверсии.
                                            </a>

                                            <div
                                                    class="methodology__accordion-content accordion-content"
                                                    data-tab-content
                                                    style="display: none;"
                                            >
                                                <p>
                                                    Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
                                                </p>

                                                <p>
                                                    Повседневная практика показывает, что рамки и место обучения кадров играет важную роль в формировании новых предложений. Задача организации, в особенности же реализация намеченных плановых заданий позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
