<section id="methods" class="section methods">
  <div class="container">
    <div class="methods__wrapper">
      <h2 class="section__title">методы</h2>
      <div class="methods__content">
        <div class="methods__left">
          <p class="methods__text">Применяемые<br>SEO-методологии для роста</p>
        </div>
        <div class="methods__right">
          <div class="accordion">
            <div class="accordion__item">
              <p class="accordion__title">SEO для макетов страниц</p>
              <div class="accordion__body">
                <p>
                  test
                </p>
                <p>
                  test
                </p>
                <p>
                  test
                </p>
                <div class="what-did__description-right black-color">
                  <ol>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="accordion__item">
              <p class="accordion__title">Плотность ключевых слов</p>
              <div class="accordion__body">
                <p>
                  Макет публикации имеет большое значение, когда дело доходит до SEO на сайте, и несколько
                  незначительных изменений часто могут привести к значительным преимуществам оптимизации. Одна вещь,
                  которую нужно всегда помнить, - это пользовательский опыт. Никому не нравятся гигантские стены текста,
                  и вы хотите, чтобы каждый пост был как можно более привлекательным и привлекательным. Не забывайте,
                  что среднее время пребывания на сайте для каждого посетителя является основным фактором SEO, на
                  который также обращают внимание Google и другие поисковые системы. Таким образом, наличие легко
                  читаемого просматриваемого контента с хорошим размещением мультимедиа может иметь огромное значение
                  для увеличения среднего времени при одновременном повышении рейтинга в результате.
                  В каждом посте должны быть хорошие четкие картинки (без пикселизации) с подписями и отформатированные
                  с обтеканием текстом. Подзаголовки, короткие абзацы и маркированные пункты всегда являются хорошей
                  идеей, как и случайные выделенные жирным шрифтом, выделенные или подчеркнутые слова, чтобы выделить
                  текст (где это уместно). Вы хотите, чтобы все эти сообщения были как можно более интересными, хорошо
                  отформатированными и удобными для чтения. Отличное форматирование также гарантирует, что вы сможете
                  пройти все визуальные проверки.
                </p>
              </div>
            </div>
            <div class="accordion__item">
              <p class="accordion__title">Плотность ключевых слов</p>
              <div class="accordion__body">
                <p>
                  Макет публикации имеет большое значение, когда дело доходит до SEO на сайте, и несколько
                  незначительных изменений часто могут привести к значительным преимуществам оптимизации. Одна вещь,
                  которую нужно всегда помнить, - это пользовательский опыт. Никому не нравятся гигантские стены текста,
                  и вы хотите, чтобы каждый пост был как можно более привлекательным и привлекательным. Не забывайте,
                  что среднее время пребывания на сайте для каждого посетителя является основным фактором SEO, на
                  который также обращают внимание Google и другие поисковые системы. Таким образом, наличие легко
                  читаемого просматриваемого контента с хорошим размещением мультимедиа может иметь огромное значение
                  для увеличения среднего времени при одновременном повышении рейтинга в результате.
                  В каждом посте должны быть хорошие четкие картинки (без пикселизации) с подписями и отформатированные
                  с обтеканием текстом. Подзаголовки, короткие абзацы и маркированные пункты всегда являются хорошей
                  идеей, как и случайные выделенные жирным шрифтом, выделенные или подчеркнутые слова, чтобы выделить
                  текст (где это уместно). Вы хотите, чтобы все эти сообщения были как можно более интересными, хорошо
                  отформатированными и удобными для чтения. Отличное форматирование также гарантирует, что вы сможете
                  пройти все визуальные проверки.
                </p>
              </div>
            </div>
            <div class="accordion__item">
              <p class="accordion__title">Плотность ключевых слов</p>
              <div class="accordion__body">
                <p>
                  Макет публикации имеет большое значение, когда дело доходит до SEO на сайте, и несколько
                  незначительных изменений часто могут привести к значительным преимуществам оптимизации. Одна вещь,
                  которую нужно всегда помнить, - это пользовательский опыт. Никому не нравятся гигантские стены текста,
                  и вы хотите, чтобы каждый пост был как можно более привлекательным и привлекательным. Не забывайте,
                  что среднее время пребывания на сайте для каждого посетителя является основным фактором SEO, на
                  который также обращают внимание Google и другие поисковые системы. Таким образом, наличие легко
                  читаемого просматриваемого контента с хорошим размещением мультимедиа может иметь огромное значение
                  для увеличения среднего времени при одновременном повышении рейтинга в результате.
                  В каждом посте должны быть хорошие четкие картинки (без пикселизации) с подписями и отформатированные
                  с обтеканием текстом. Подзаголовки, короткие абзацы и маркированные пункты всегда являются хорошей
                  идеей, как и случайные выделенные жирным шрифтом, выделенные или подчеркнутые слова, чтобы выделить
                  текст (где это уместно). Вы хотите, чтобы все эти сообщения были как можно более интересными, хорошо
                  отформатированными и удобными для чтения. Отличное форматирование также гарантирует, что вы сможете
                  пройти все визуальные проверки.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
