<div class="next-case">
  <div class="container">
    <div class="next-case-wrap">
      <div class="next-case__left">
        <div class="next-case__left-title explanatory-title">Предыдущий кейс</div>
        <p>+300% органического трафика за 2 года в тематике Полиграфия</p>
        <img class="next-case__left-arrow" src="assets/img/icons/arrow.svg" alt="">
        <img class="next-case__left-right-mobile" src="assets/img/icons/arrow-white.svg" alt="">
      </div>
      <div class="next-case__left">
        <div class="next-case__left-title explanatory-title">Следующий кейс</div>
        <p>+300% органического трафика за 2 года за счёт регионального продвижения в тематике Бюро переводов</p>
        <img class="next-case__left-arrow-mobile" src="assets/img/icons/arrow.svg" alt="">
        <img class="next-case__left-right" src="assets/img/icons/arrow-white.svg" alt="">
      </div>
    </div>
  </div>
</div>
