<section id="possibilities" class="section possibilities">
	<div class="container">
		<div class="possibilities__wrapper">
			<h2 class="section__title possibilities__title">возможности</h2>
			<div class="possibilities__content">
				<div class="possibilities__item possibilities-item">
					<div class="possibilities-item__top">
						<span class="possibilities-item__num">01</span>
						<div class="possibilities-item__border"></div>
					</div>
					<div class="possibilities-item__wrapper">
						<p class="possibilities-item__title">
							Search Engine Optimization
						</p>
						<div class="possibilities-item__description">
							<p class="possibilities-item__text">
								SEO под ключ. Проектирование сайта с ноля, формирование семантического ядра, построение структуры, внутренняя и внешняя оптимизация, продвижение.
							</p>
							<p class="possibilities-item__text">
								Предложу эффективные решения по развитию проекта в Органике. Напишу план на квартал перед стартом работ.
							</p>
							<a href="#" class="possibilities-item__link link">
								<span class="link__text">подробнее о seo</span>
							</a>
						</div>
					</div>
				</div>
				<div class="possibilities__item possibilities-item">
					<div class="possibilities-item__top">
						<span class="possibilities-item__num">02</span>
						<div class="possibilities-item__border"></div>
					</div>
					<div class="possibilities-item__wrapper">
						<p class="possibilities-item__title">
							Website Design
						</p>
						<div class="possibilities-item__description">
							<p class="possibilities-item__text">
								WEB-дизайн с ноля или доработка интерфесов существующего сайта — с уклоном на SEO, с целью увеличения конверсии и вовлечения.
							</p>
							<a href="#" class="possibilities-item__link link">
								<span class="link__text">работы на behance</span>
							</a>
						</div>
					</div>
				</div>
				<div class="possibilities__item possibilities-item">
					<div class="possibilities-item__top">
						<span class="possibilities-item__num">03</span>
						<div class="possibilities-item__border"></div>
					</div>
					<div class="possibilities-item__wrapper">
						<p class="possibilities-item__title">
							Website Development
						</p>
						<div class="possibilities-item__description">
							<p class="possibilities-item__text">
								Разработка и поддержка сайтов на Битрикс. Менеджмент задач. Перенос проектов на новые сайты без потери трафика.
							</p>
							<p class="possibilities-item__text">
								Задачи ведутся с акцентом на SEO требования.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
