<div class="starting-steps starting-steps--case">
    <div class="starting-steps__row">
        <div class="starting-steps__col"></div>
        <div class="starting-steps__col">
            <span class="starting-steps__number">1 шаг</span>
            <p class="starting-steps__text">
                Купили шаблон сайта и CMS Битрикс
            </p>
        </div>
    </div>

    <div class="starting-steps__row">
        <div class="starting-steps__col"></div>
        <div class="starting-steps__col">
            <span class="starting-steps__number">2 шаг</span>
            <p class="starting-steps__text">
                Собрал полное семантическое ядро
                на основе классического парсинга
                и парсинга запросов конкурентов
            </p>
        </div>
    </div>

    <div class="starting-steps__row">
        <div class="starting-steps__col"></div>
        <div class="starting-steps__col">
            <span class="starting-steps__number">3 шаг</span>
            <p class="starting-steps__text">
                Наложил семантику на новую структуру сайта
            </p>
        </div>
    </div>

    <div class="starting-steps__row">
        <div class="starting-steps__col"></div>
        <div class="starting-steps__col">
            <span class="starting-steps__number">4 шаг</span>
            <p class="starting-steps__text">
                Подготовил задачи (ТЗ) для
                авторов для наполнения коммерческих страниц,
                для максимальной релевантности продвигаемых страниц
            </p>
        </div>
    </div>

    <div class="starting-steps__row">
        <div class="starting-steps__col"></div>
        <div class="starting-steps__col">
            <span class="starting-steps__number">5 шаг</span>
            <p class="starting-steps__text">
                Подготовил дизайн-макеты нового меню на основе собранной
                структуры - шапку купленного шаблона пришлось существенно доработать
            </p>
        </div>
    </div>

    <div class="starting-steps__row">
        <div class="starting-steps__col"></div>
        <div class="starting-steps__col">
            <span class="starting-steps__number">6 шаг</span>
            <p class="starting-steps__text">
                Разметил корректно мета страниц и
                опубликовал текстовый контент от автора
            </p>
        </div>
    </div>

    <div class="starting-steps__row">
        <div class="starting-steps__col"></div>
        <div class="starting-steps__col">
            <span class="starting-steps__number">7 шаг</span>
            <p class="starting-steps__text">
                Разработал стратегию внешнего продвижения
                и начал по ним работу на ежемесячной основе
            </p>
        </div>
    </div>

    <div class="starting-steps__row">
        <div class="starting-steps__col"></div>
        <div class="starting-steps__col">
            <span class="starting-steps__number">8 шаг</span>
            <p class="starting-steps__text">
                Провёл внутренние работы по оптимизации ссылок и перелинковки
            </p>
        </div>
    </div>

    <div class="starting-steps__row">
        <div class="starting-steps__col"></div>
        <div class="starting-steps__col">
            <span class="starting-steps__number">9 шаг</span>
            <p class="starting-steps__text">
                Написал расширенное ТЗ по функционалу ГЕО для ранжирования в регионах и развернул задачу;
                Разработал стратегию регионального продвижения. Вёл SEO-маркетинг в срезе каждого города миллионника;
                Изучал пользовательский опыт и внедрял поправки на его основе;
                Отслеживал позиции по запросам и усиливал релевантность на страницах под проседающие сегменты. Работал с анкорами
            </p>
        </div>
    </div>
</div>
