<section id="starting" class="section section--black starting">
	<div class="container">
		<div class="starting__wrapper">
			<h2 class="section__title section__title--white">стартуем?</h2>
			<p class="starting__subtitle">SEO предпроектная подготовка</p>
			<div class="starting__content">
				<div class="starting-item">
					<div class="starting-item__wrapper">
						<span class="starting-item__num">01</span>
						<div class="starting-item__description">
							<p class="starting-item__title">Знакомство и KPI</p>
							<p>Пришлите ссылку на свой проект, опишите свои ожидания от работы, укажите
								KPI и показатели которых хотите достичь.</p>
							<a href="#section-message" class="link link--white starting-item__link">
								<span class="link__text">отправить заявку</span>
							</a>
						</div>
					</div>
				</div>
				<div class="starting-item">
					<div class="starting-item__wrapper">
						<span class="starting-item__num">02</span>
						<div class="starting-item__description">
							<p class="starting-item__title">Анализ</p>
							<p>Я проанализирую вашу нишу, конкурентов. Найду точки роста сайта. Напишу
								предварительный план действий.</p>
						</div>
					</div>
				</div>
				<div class="starting-item">
					<div class="starting-item__wrapper">
						<span class="starting-item__num">03</span>
						<div class="starting-item__description">
							<p class="starting-item__title">Обсуждение</p>
							<p>После изучения вами моего документа, мы устно обсуждаем вопросы, вносим
								коррективы.</p>
						</div>
					</div>
				</div>
				<div class="starting-item">
					<div class="starting-item__wrapper">
						<span class="starting-item__num">04</span>
						<div class="starting-item__description">
							<p class="starting-item__title">Договор</p>
							<p>Если всё всех устраивает, заключаем договор.</p>
							<a href="#" class="link link--download link--white starting-item__link" data-tooltip-color="true" data-my-tooltip="В разработке">
								<span class="link__wrapper" data-tooltip-color="true" data-my-tooltip="В разработке">
									<span class="link__text" data-tooltip-color="true" data-my-tooltip="В разработке">Скачать договор</span>
									<img class="link__image" src="assets/img/icons/arrow-down.svg" alt="" data-tooltip-color="true" data-my-tooltip="В разработке">
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>
