<section id="starting-new" class="section-new starting-new">
    <div class="starting-new__container container-new">
        <div class="section-new__header">
            <h2 class="section-new__title">
                Стартуем?
            </h2>
        </div>

        <div class="section-new__body">
            <div class="starting-new__list">
                <div class="starting-new__list-head">
                    <div class="starting-new__list-col">
                        <h2 class="starting-new__desc">
                            Процесс знакомства поможет найти точки интереса обеим сторонам<br/>
                            для роста вашего проекта.
                        </h2>
                    </div>
                </div>

                <div class="starting-new__list-main">
                    {{> starting-steps-main}}
                </div>
            </div>

            <div class="starting-new__form">
                {{> form-block-2}}
            </div>
        </div>
    </div>
</section>
