<div class="starting-steps">
    <div class="starting-steps__row">
        <div class="starting-steps__col"></div>
        <div class="starting-steps__col">
            <span class="starting-steps__number">1 шаг</span>
            <p class="starting-steps__text">
                Заполните форму обратной связи.
                Опишите вашу ситуацию кратко и ваши ожидания от работы.
                Отправьте её нажав “Отправить”.
            </p>
        </div>
    </div>

    <div class="starting-steps__row">
        <div class="starting-steps__col"></div>
        <div class="starting-steps__col">
            <span class="starting-steps__number">2 шаг</span>
            <p class="starting-steps__text">
                Мы изучим ваш сайт и нишу в целом.
                Сделаем краткий аудит и постараемся
                найти точки роста для дальнейшего обсуждения.
            </p>
        </div>
    </div>

    <div class="starting-steps__row">
        <div class="starting-steps__col"></div>
        <div class="starting-steps__col">
            <span class="starting-steps__number">3 шаг</span>
            <p class="starting-steps__text">
                Ответным письмом, в удобном для вас способом,
                пришлём краткую информацию о нашем видении развития.
                Укажем примерный бюджет для старта работ.
            </p>
        </div>
    </div>

    <div class="starting-steps__row">
        <div class="starting-steps__col"></div>
        <div class="starting-steps__col">
            <span class="starting-steps__number">4 шаг</span>
            <p class="starting-steps__text">
                Договоримся о встрече.
                Встретимся. Поговорим устно
                о проекте о ваших KPI, болях проекта.
            </p>
        </div>
    </div>

    <div class="starting-steps__row">
        <div class="starting-steps__col"></div>
        <div class="starting-steps__col">
            <span class="starting-steps__number">5 шаг</span>
            <p class="starting-steps__text">
                Если встреча пройдёт успешно,
                то напишем предварительный план развития
                на квартал с более понятными действиями и бюджетами.
            </p>
        </div>
    </div>

    <div class="starting-steps__row">
        <div class="starting-steps__col"></div>
        <div class="starting-steps__col">
            <span class="starting-steps__number">6 шаг</span>
            <p class="starting-steps__text">
                Если всё устраивает, то подписываем договор
                и начинаем работу над развитием проекта.
            </p>
        </div>
    </div>
</div>
