<section class="top-block">
  <div class="top-block__wrapper">
    <div class="container top-block__wrapper_padding">
      <div class="top-block__black"></div>
      <div class="top-block__content">
        <img class="top-block__img" src="assets/img/cases/case/background-img.png" alt="">
        <div class="top-block__body">
          <p class="top-block__name"><span class="top-block__name-span">SEO-кейс</span> Фотопечать</p>
          <h1 class="top-block__title">
            +300% органического трафика за год за счёт регионального продвижения
          </h1>
          <button class="top-block__btn btn btn--light">НАПИСАТЬ В Мессенджер</button>
        </div>
      </div>
    </div>
  </div>
</section>
