<section id="welcome" class="welcome">
    <div class="welcome__container container-new">
        <div class="welcome__main">
            <div class="welcome__main-col welcome__main-col--pic">
                <img
                    class="welcome__pic"
                    src="assets/img/analytics.svg"
                    alt="Аналитика"
                    loading="lazy"
                />
            </div>

            <div class="welcome__main-col welcome__main-col--text">
                <h1 class="welcome__title">
                    Рост ваших продаж</br>
                    - наш главный KPI
                </h1>

                <p class="welcome__subtitle">
                    Продвижение сайтов для компаний, которые ценят прозрачность, скорость и измеримый результат
                </p>

                <a
                   class="welcome__btn button button--secondary"
                   href="https://t.me/durov"
                >
                    Написать в Телеграм
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 1L11 6M11 6L6 11M11 6L1 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
        </div>

        <div class="welcome__footer">
            <div class="welcome__footer-col">
                <div class="welcome__footer-content">
                    <p class="welcome__footer-title">
                        Глубокое погружение в ваш проект с фокусом на рост заявок и продаж.
                    </p>

                    <p class="welcome__footer-text">
                        Мы работаем как партнер, а не подрядчик: изучаем рынок, продукт и воронку продаж, чтобы приносить измеримую прибыль.
                    </p>
                </div>
            </div>

            <div class="welcome__footer-col">
                <div class="welcome__footer-content">
                    <p class="welcome__footer-title">
                        Мгновенные коммуникации
                    </p>

                    <p class="welcome__footer-text">
                        Никаких задержек в коммуникации, только четкие действия и быстрые качественные решения.
                    </p>
                </div>
            </div>

            <div class="welcome__footer-col">
                <div class="welcome__footer-content">
                    <p class="welcome__footer-title">
                        Экспертиза
                    </p>

                    <p class="welcome__footer-text">
                        Знаем, как продавать сложные продукты и услуги клиентам.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
