<div class="what-did">
  <div class="container">
    <div class="what-did-wrap">
      <h2 class="what-did__title">Что делали</h2>
      <div class="what-did__description">
        <div class="what-did__description-left explanatory-title">
          Стратегия
        </div>
        <div class="gl-black what-did__description-right">
          <ul>
            <li>The vast majority of asteroids are small, compared with a large one like Ida</li>
            <li>The vast majority of asteroids are small, compared with a large one like Ida</li>
            <li>The vast majority of asteroids are small, compared with a large one like Ida</li>
          </ul>
        </div>
      </div>
      <div class="what-did__description">
        <div class="what-did__description-left explanatory-title">
          План
        </div>
        <div class="what-did__description-right">
          <img class="what-did__description-right-img what-did__description-right_display"
               src="assets/img/cases/case/schedule.png" alt="">
          <div class="case__slider slider swiper">
            <div class="slider__wrapper swiper-wrapper">
              <div class="slider__slide swiper-slide">
                <a href="assets/img/cases/case/schedule.png" class="slider__image-link" data-fancybox="gallery">
                  <img src="assets/img/cases/case/schedule.png" alt="">
                </a>
              </div>
            </div>
            <div class="slider__pagination"></div>
          </div>
        </div>
      </div>
      <div class="what-did__description">
        <div class="what-did__description-left explanatory-title">
          сложности
        </div>
        <div class="what-did__description-right">
          <p>
            <b>Сайт пришёл на CMS Вордпресс. Битая вёрстка, текстовый контент переспамлен, доверия ноль, много трафика
              по запросам вообще к теме не относящимся. Продвигался уже не раз кем-то и как-то. Позиций по запросам нет
              даже в ТОП-100!
            </b>
          </p>
          <p class="what-did__description-right-text_border">
            Сайт пришёл на CMS Вордпресс. Битая вёрстка, текстовый контент переспамлен, доверия ноль, много трафика по
            запросам вообще к теме не относящимся. Продвигался уже не раз кем-то и как-то. Позиций по запросам нет даже
            в ТОП-100!
          </p>
          <p>
            Особенность ниши - в выдаче много сайтов с "чёрными" методами продвижения. Сильная накрутка со стороны
            конкурентов. Единственный шанс - делать сильный домен и максимально качественный сайт для людей.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
